@import "../fragment/yo-header";

#root {
  height: 100%;
}



@font-face {
  font-family: yofont;
  src: url(/iconfont/iconfont-3.woff) format("woff"),
  url(/iconfont/iconfont-3.ttf) format("truetype");
}


@font-face {
  font-family: yofont;
  src: url(/iconfont/iconfont-1.woff) format("woff"),
  url(/iconfont/iconfont-1.ttf) format("truetype");
}
@font-face {
  font-family: yofont;
  src: url(/iconfont/iconfont-2.woff) format("woff"),
  url(/iconfont/iconfont-2.ttf) format("truetype");
}

@font-face {
  font-family: yofont;
  src: url(/iconfont/iconfont-4.woff) format("woff"),
  url(/iconfont/iconfont-4.ttf) format("truetype");
}


@font-face {
  font-family: yofont;

  src: url(/iconfont/iconfont-5.woff) format("woff"),
  url(/iconfont/iconfont-5.ttf) format("truetype");


}
@font-face {
  font-family: yofont;
  src: url(/iconfont/iconfont-6.woff) format("woff"),
  url(/iconfont/iconfont-6.ttf) format("truetype");
}
@font-face {
  font-family: yofont;
  src: url(/iconfont/iconfont-7.woff) format("woff"),
  url(/iconfont/iconfont-7.ttf) format("truetype");
}
@include yo-header(
  $name: a,
  $bgcolor: #f56a03,
  $border-width: 0,
  $item-ico-color: #fff,
  $font-size: .16rem
){
  .regret {
    right: 0;
    left: auto;
  }
  
}
@include yo-header(
  $name: b,
  $bgcolor: #f56a03,
  $border-width: 0,
  $item-ico-color: #fff,
  $font-size: .16rem
){
  .regret {
    right: auto;
    left: 0;
  }
}
