 
 
 .m-boardmain{
     
     .part01{
        @include flexbox();
        height: .46rem;
        @include align-items(center);
        padding:0 .15rem;
        background:#fff;
        margin-top:.14rem;
        h2{
            @include flex(3);
            font-size:.18rem;
            line-height:.46rem;
        }
        span{
            @include flexbox();
            @include flex(1);
            font-size:.18rem;
            line-height:.46rem;
            @include justify-content(flex-end);
        }
     }
     
    .part02{
        height:1.17rem;
        background:#fff;
        padding:.15rem;
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        border-bottom:2px solid #eee;
        img{
            width:1.12rem;
            height:.84rem;
        }
        .part02-right{
            width:2.21rem;
            height:.84rem;
            h3{
                font-size:.16rem;
                line-height:.2rem;
                height:.2ren;
            }
            
             .part02-right01{
                line-height:.2rem;
                height:.2ren;
            }
            
             .part02-right02{
                  font-size:.12rem;
//                transform:scale(0.6);
//                transform-origin:left;
                  white-space:nowrap;
                  width:2.21rem;
                  height:.2rem;
                  overflow:hidden;
                  text-overflow: ellipsis;
                line-height:.2rem;
            }
            
             .part02-right03{
                line-height:.2rem;
                height:.2ren;
                font-size:.12rem;
//              transform:scale(0.6);
//              transform-origin:left;
                @include flexbox();
                @include justify-content(flex-start);
                
                &:nth-child(0){
                    display:block;
                    line-height:.2rem;
                    height:.2rem;
                    width:.35rem;
                    border:1px solid green;
                }
            }
            
        }
    }
     
 }
 