.m-ershoufang{
    .header-list{
        height:.42rem;
        @include flexbox();
        li{
            width:100%;
            height:100%;
            @inlude flex(1);
            select{
            width:100%;
            height:100%;
            text-align:center;
            }
        }
        
    }
    
}
