.m-my{
    width:100%;
    height:100%;
    .header{
        height: 1.22rem;
        background: #fff;
        @include flexbox();
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);
        div{
            height: 0.26rem;
            color: #000;
            font-size: 0.20rem;
            line-height: 0.26rem;
        }
        input{
            height: 0.41rem;
            width: 1.25rem;
            margin-top: 0.2rem;
        }
        
    }
    .list{
        width: 100%;
         li{
             @include flexbox();
             height: 0.55rem;
             line-height: .55rem;
             @include border(1px 0 0 0, #d8d8da);
             b{
                 height: 0.55rem;
                 width: .60rem;
                 line-height: o.55rem;
                 font-size: .3rem;
                 text-align: center;
                 color: rgba(0, 0, 0, 0.5)
             }
             i{
                 flex: 1;
                 height: 0.55rem;
                 font-size: .18rem;
                 line-height: o.55rem;
             }
             span{
                 height: 0.3rem;
                 width: 0.3rem;
                 margin-right: 0;
                 line-height: o.55rem;
             }
         }
        
    }
}
